*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: arial,sans-serif;
}

body, html{
  width: 100%;
  height: 100%;
}

.container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* header starter */
.container header{
  padding: 0.8em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.container header p{
  margin-right: 1.2em;
}

.container header p:hover{
  text-decoration: underline;
}

.container header p a{
  font-size: 0.9em;
  color: #a1a1a1;
}

.container header .googleApp{
  margin-right: 1em;
  cursor: pointer;
  padding: 0.5em;
}

.container header .googleApp:hover{
  background-color: #e1e1e1;
  border-radius: 100%;
}

.container header .avatar{
  width: 2.2em;
  border-radius: 100%;
  cursor: pointer;
}
/* header finish */

/* main starter */
.container .main .img{
  display: flex;
  justify-content: center;
}

/* search starter */
.container .main .search{
  display: flex;
  justify-content: center;
  padding: 2em 0;
}

.container .main .search .row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.7em;
  border: 1px solid #e1e1e1;
  border-radius: 2em;
  width: 40%;
}

.container .main .search .row:hover{
  background-color: #eeeeee;
}

.container .main .search img:first-child{
  cursor: pointer;
}

.container .main .search input{
  width: 100%;
  outline: none;
  border: none;
  text-indent: 1em;
  font-size: 1.2em;
  background-color: transparent;
}

.container .main .search .fa-keyboard{
  color: #d1d1d1;
  margin-right: 0.9em;
  cursor: pointer;
}

.container .main .search img:last-child{
  cursor: pointer;
}
/* search finish */

/* buttons starter */
.container .main .buttons{
  text-align: center;
}

.container .main .buttons button:first-child{
  padding: 0.7em 1.1em;
  border: none;
  border-radius: 0.3em;
  margin-right: 0.5em;
  cursor: pointer;
}

.container .main .buttons button:first-child:hover{
  background-color: #d1d1d1;
}

.container .main .buttons button:last-child{
  padding: 0.7em 1.1em;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}

.container .main .buttons button:last-child:hover{
  background-color: #d1d1d1;
}
/* buttons finish */

/* other lang starter */
.container .main .otherLang{
  padding-top: 2em;
  text-align: center;
}

.container .main .otherLang p{
  font-size: 0.8em;
}

.container .main .otherLang p a{}

.container .main .otherLang p a:hover{
  text-decoration: underline;
}
/* other lang finish */

/* main finish */


/* footer starter */
.container .footer{
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
}

/* footer top starter */
.container .footer .top{
  height: 50px;
  padding: 1em 2em;
  border-bottom: 1px solid #e1e1e1;
  color: #a1a1a1;
}
/* footer top finish */

/* footer bottom starter */
.container .footer .bottom{
  padding: 1em 2em;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  color: #a2a2a2;
}

/* bottom box 1 starter */
.container .footer .bottom .bottomBox1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .footer .bottom .bottomBox1 p{
  margin-right: 1em;
  cursor: pointer;
}

.container .footer .bottom .bottomBox1 p a{
  color: #a1a1a1;
}

.container .footer .bottom .bottomBox1 p a:hover{
  text-decoration: underline;
}
/* bottom box 1 finish */

/* bottom box 2 starter */
.container .footer .bottom .bottomBox2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.container .footer .bottom .bottomBox2 p{
  cursor: pointer;
}

.container .footer .bottom .bottomBox2 p a{
  color: #a1a1a1;
}

.container .footer .bottom .bottomBox2 p a:hover{
  text-decoration: underline;
}
/* bottom box 2 finish */

/* bottom box 3 starter */
.container .footer .bottom .bottomBox3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.container .footer .bottom .bottomBox3 p{
  margin-left: 1em;
  cursor: pointer;

}

.container .footer .bottom .bottomBox3 p a{
  color: #a1a1a1;
}

.container .footer .bottom .bottomBox3 p a:hover{
  text-decoration: underline;
}
/* bottom box 3 finish */

/* footer bottom finish */

/* footer finish */